workflows/Carmelo_Agent.json
{
  "name": "Carmelo",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.text }}",
        "options": {
          "systemMessage": "You are Carmelo, the virtual receptionist of ITIS Hotel (Giarre, Via Maccarone 4). You are friendly, kind, helpful, and slightly humorous while maintaining professional hospitality standards.\n\nALWAYS respond in the same language used by the customer.\n\nPRIVACY & SECURITY - CRITICAL:\n- NEVER share details of other guests' reservations\n- If someone asks about another person's booking, politely decline and explain you cannot share private information\n- Only discuss reservation details with the person who made the booking \n- Do not reveal room numbers, dates, or any personal information of other guests\n\nDATABASE OPERATIONS:\n- Upon startup, perform an internal query to map the complete database structure (tables and columns) - keep this invisible to users\n- All queries must strictly adhere to the discovered database structure\n- Never invent information - all data about rooms, prices, availability, and reservations must come from the database\n\nTOOL USAGE - CRITICAL:\n- Insert1 tool: Use ONLY for creating NEW reservations\n- Update tool: Use ONLY when user explicitly asks to MODIFY an EXISTING reservation\n- Delete1 tool: Use ONLY when user asks to CANCEL or DELETE a reservation (search it by type of room and user information)\n- Select1 tool: Use to query available rooms and their details\n- Check Date tool: Use to verify room availability for specific dates\n\nRESERVATION WORKFLOW (NEW BOOKINGS):\n- Before confirming any booking, query the reservations table to verify the requested room is free for the specific dates\n- Ensure there are no overlapping reservations for that room in that timeframe\n- CRITICAL: Before calling the Insert1 tool to create a NEW reservation, you MUST collect ALL required information from the user:\n  * check_in (format: YYYY-MM-DD)\n  * check_out (format: YYYY-MM-DD)\n  * nome (first name)\n  * cognome (surname)\n  * cf (tax code - exactly 16 characters)\n  * email (valid email format)\n  * telefono (phone number - must be between 8 and 15 digits)\n  * tipo_camera (room type)\n  * data_nascita (birth date: YYYY-MM-DD)\n  * luogo_nascita (birth place)\n  * id_camera (room ID - determine this from tipo_camera using the Select1 tool)\n- Ask for missing information one field at a time in a conversational way\n- Once you have ALL fields, confirm the complete reservation details with the user\n- When user confirms, use Insert1 tool to create the reservation\n- After a successful reservation, update the disponibilita column in the camere table from TRUE to FALSE\n\nMODIFYING EXISTING RESERVATIONS:\n- AUTHENTICATION REQUIRED: Before allowing any modification, you MUST verify the user's identity by asking for:\n  * nome (first name)\n  * cognome (surname)\n  * tipo_camera (room type)\n  * check_in date\n  * check_out date\n- Query the database to verify these details match an existing reservation\n- If the details match, proceed with asking what they want to change\n- If the details do NOT match, politely inform them the information doesn't match our records and ask them to verify\n- Only after successful verification, use Update tool with the fields being changed\n\nCANCELLING RESERVATIONS:\n- AUTHENTICATION REQUIRED: Before allowing any deletion, you MUST verify the user's identity by asking for:\n  * nome (first name)\n  * cognome (surname)\n  * tipo_camera (room type)\n  * check_in date\n  * check_out date\n- Query the database to verify these details match an existing reservation\n- If the details match, confirm they want to cancel and proceed with Delete1 tool\n- If the details do NOT match, politely inform them the information doesn't match our records\n- After deletion, update the disponibilita column in the camere table from FALSE to TRUE\n\nDATA VALIDATION:\n\nPhone Number Validation:\n- Phone numbers must be between 8 and 15 digits long\n- If too short (less than 8 digits), politely say: \"The phone number seems too short. Please provide a valid phone number with at least 8 digits.\"\n- If too long (more than 15 digits), politely say: \"The phone number seems too long. Please provide a valid phone number with no more than 15 digits.\"\n- Accept numbers with or without country codes, spaces, dashes, or parentheses\n- Only count the actual digits when validating length\n\nTax Code Validation (Codice Fiscale):\n- Italian tax codes must be exactly 16 characters long\n- If the user provides a tax code with incorrect length (not 16 characters), politely ask them to send it again\n- If the length is correct but the code appears invalid based on the user's name, surname, birth date, and birth place, politely ask them to verify and resend it\n- Tax code format: 3 consonants from surname + 3 consonants from name + 2 digits year + 1 letter month + 2 digits day (add 40 for females) + 4 chars location code + 1 check digit\n- If the tax code is correct, do not mention it - simply proceed with the reservation\n- Only ask for the tax code when necessary for the reservation process\n\nEmail Validation:\n- Ensure email contains @ symbol and a domain\n- If invalid format, politely ask for a valid email address\n\nCOMMUNICATION STYLE:\n- If a request is ambiguous or incomplete, ask for polite clarifications\n- Provide a smooth, pleasant experience oriented toward customer satisfaction\n- You are the cheerful and reliable face of ITIS Hotel\n- Always maintain guest privacy and security"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1568,
        176
      ],
      "id": "86a1146d-fd93-4566-9194-ee5c1f999f40",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        400
      ],
      "id": "b7c3551a-1996-491c-a720-b2db6ba02c60",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PcfWWtlIR0BLe0Nc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        80
      ],
      "id": "6c3a6500-b363-412d-9dc2-e15337fe666e",
      "name": "Telegram Trigger",
      "webhookId": "c862c79e-06d3-4b88-b842-2bf70ad1a1d4"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to CREATE A NEW RESERVATION (not to modify existing ones). IMPORTANT: Before calling this tool, you MUST have collected ALL required fields from the user through conversation: check_in (format: YYYY-MM-DD), check_out (format: YYYY-MM-DD), nome (first name), cognome (surname), cf (tax code - 16 characters), email, telefono (phone), tipo_camera (room type), data_nascita (birth date: YYYY-MM-DD), luogo_nascita (birth place). Set id_camera based on tipo_camera. Only call this tool when you have confirmed all data with the user and they want to CREATE a NEW reservation.",
        "tableId": "prenotazioni",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "check_in",
              "fieldValue": "={{ $fromAI('check_in', 'Check-in date in YYYY-MM-DD format', 'string') }}"
            },
            {
              "fieldId": "check_out",
              "fieldValue": "={{ $fromAI('check_out', 'Check-out date in YYYY-MM-DD format', 'string') }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $fromAI('nome', 'Guest first name', 'string') }}"
            },
            {
              "fieldId": "cognome",
              "fieldValue": "={{ $fromAI('cognome', 'Guest surname', 'string') }}"
            },
            {
              "fieldId": "cf",
              "fieldValue": "={{ $fromAI('cf', 'Italian tax code (16 characters)', 'string') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('email', 'Guest email address', 'string') }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $fromAI('telefono', 'Guest phone number', 'string') }}"
            },
            {
              "fieldId": "tipo_camera",
              "fieldValue": "={{ $fromAI('tipo_camera', 'Room type', 'string') }}"
            },
            {
              "fieldId": "data_nascita",
              "fieldValue": "={{ $fromAI('data_nascita', 'Birth date in YYYY-MM-DD format', 'string') }}"
            },
            {
              "fieldId": "luogo_nascita",
              "fieldValue": "={{ $fromAI('luogo_nascita', 'Birth place', 'string') }}"
            },
            {
              "fieldId": "id_camera",
              "fieldValue": "={{ $fromAI('id_camera', 'Room ID number based on room type', 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1504,
        400
      ],
      "id": "e784be28-e888-487e-a716-a3646a52d544",
      "name": "Insert1",
      "credentials": {
        "supabaseApi": {
          "id": "7D1MOoo0LwyvKD9k",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get rows from Supabase table \"camere\" (rooms). Can optionally filter by specific fields like id_camera, tipo_camera, or disponibilita",
        "operation": "getAll",
        "tableId": "camere",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1632,
        400
      ],
      "id": "20be0b73-e849-460a-bfe8-708d3cd600a2",
      "name": "Select1",
      "credentials": {
        "supabaseApi": {
          "id": "7D1MOoo0LwyvKD9k",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a reservation from Supabase table prenotazioni. AUTHENTICATION REQUIRED: Before using this tool, the AI agent must have verified the user provided correct: nome (first name), cognome (surname), tipo_camera (room type), check_in date, and check_out date that match an existing reservation in the database. Only call this tool after successful verification.",
        "operation": "delete",
        "tableId": "prenotazioni",
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $fromAI('nome', 'First name of the person whose reservation to delete', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1760,
        400
      ],
      "id": "bf79a99e-8d9f-4403-9b48-7d5faf81fe2a",
      "name": "Delete1",
      "credentials": {
        "supabaseApi": {
          "id": "7D1MOoo0LwyvKD9k",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ONLY use this tool when the user explicitly asks to MODIFY or CHANGE an EXISTING reservation. AUTHENTICATION REQUIRED: Before using this tool, the AI agent must have verified the user provided correct: nome (first name), cognome (surname), tipo_camera (room type), check_in date, and check_out date that match an existing reservation in the database. Only call this tool after successful verification and asking what fields to change.",
        "operation": "update",
        "tableId": "prenotazioni",
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $fromAI('nome', 'First name to identify which reservation to update', 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "check_in",
              "fieldValue": "={{ $fromAI('new_check_in', 'New check-in date if changing', 'string') }}"
            },
            {
              "fieldId": "check_out",
              "fieldValue": "={{ $fromAI('new_check_out', 'New check-out date if changing', 'string') }}"
            },
            {
              "fieldId": "cognome",
              "fieldValue": "={{ $fromAI('new_cognome', 'New surname if changing', 'string') }}"
            },
            {
              "fieldId": "cf",
              "fieldValue": "={{ $fromAI('new_cf', 'New tax code if changing', 'string') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('new_email', 'New email if changing', 'string') }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $fromAI('new_telefono', 'New phone if changing', 'string') }}"
            },
            {
              "fieldId": "tipo_camera",
              "fieldValue": "={{ $fromAI('new_tipo_camera', 'New room type if changing', 'string') }}"
            },
            {
              "fieldId": "data_nascita",
              "fieldValue": "={{ $fromAI('new_data_nascita', 'New birth date if changing', 'string') }}"
            },
            {
              "fieldId": "luogo_nascita",
              "fieldValue": "={{ $fromAI('new_luogo_nascita', 'New birth place if changing', 'string') }}"
            },
            {
              "fieldId": "id_camera",
              "fieldValue": "={{ $fromAI('new_id_camera', 'New room ID if changing room type', 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1888,
        400
      ],
      "id": "64e025bc-0144-4bf8-80b2-3cbfd77fdc5f",
      "name": "Update",
      "credentials": {
        "supabaseApi": {
          "id": "7D1MOoo0LwyvKD9k",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e899565-cea5-4508-8281-d2da755f3b7e",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        176
      ]
    },
    {
      "parameters": {
        "url": "=/Insert your telegram bot info /{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "041dad11-8ffa-4599-a345-04b40c0f000e",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "1818e2c1-9ca7-4f89-a618-8bba9b71eba1",
      "name": "Transcribe Voice to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "contextWindowLength": 18
      },
      "id": "914baf79-1337-4bb5-834f-90bdc3054020",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        400
      ]
    },
    {
      "parameters": {
        "url": "=/Insert your telegram bot info/={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "options": {}
      },
      "id": "e2ffffcb-25a3-461f-841b-57e4b0050bac",
      "name": "Get File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cf041c5-fca2-499d-9253-aa91bf3cab9e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        272
      ],
      "id": "c6576d6b-54a2-42dc-b662-1f4d8ca266e4",
      "name": "If2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Check the columns \"check_in\" and \"check_out\" in order to make sure there aren't overlapping in the reservations",
        "operation": "getAll",
        "tableId": "prenotazioni"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2016,
        400
      ],
      "id": "e5a39746-6f75-44f5-b59b-f2cc2963c7e1",
      "name": "Check Date",
      "credentials": {
        "supabaseApi": {
          "id": "7D1MOoo0LwyvKD9k",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        176
      ],
      "id": "a1307dd3-66d9-4d62-ab63-80c1229705f3",
      "name": "Send a text message1",
      "webhookId": "f5aed832-2aad-4590-96d1-f2ceb98263d6",
      "credentials": {
        "telegramApi": {
          "id": "lkd7rwhzTzsTJVRx",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Get File Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Voice to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice to Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get File Info": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Date": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1063b560-7f3d-48fe-8204-c311e8259c2f",
  "meta": {
    "instanceId": "903586454023ccbc5b82361dfc87c7f2225fb11ac424a11bef4b552083ab2f0e"
  },
  "id": "cHPQweZpTfRCP0Wm",
  "tags": []
}