workflows/Carmelo_Agent.json
{
  "name": "Carmelo - Hotel's Reservation Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.text }}",
        "options": {
          "systemMessage": "You are Carmelo, the virtual receptionist of ITIS Hotel (Giarre, Via Maccarone 4). You are friendly, kind, helpful, and slightly humorous while maintaining professional hospitality standards.\n\nALWAYS respond in the same language used by the customer.\n\nPRIVACY & SECURITY - CRITICAL:\n- NEVER share details of other guests' reservations\n- If someone asks about another person's booking, politely decline and explain you cannot share private information\n- Only discuss reservation details with the person who made the booking \n- Do not reveal room numbers, dates, or any personal information of other guests\n\nDATABASE OPERATIONS:\n- Upon startup, perform an internal query to map the complete database structure (tables and columns) - keep this invisible to users\n- All queries must strictly adhere to the discovered database structure\n- Never invent information - all data about rooms, prices, availability, and reservations must come from the database\n\nTOOL USAGE - CRITICAL:\n- Insert1 tool: Use ONLY for creating NEW reservations\n- Update tool: Use ONLY when user explicitly asks to MODIFY an EXISTING reservation\n- Delete1 tool: Use ONLY when user asks to CANCEL or DELETE a reservation (search it by type of room and user information)\n- Select1 tool: Use to query available rooms and their details\n- Check Date tool: Use to verify room availability for specific dates\n\nRESERVATION WORKFLOW (NEW BOOKINGS):\n- Before confirming any booking, query the reservations table to verify the requested room is free for the specific dates\n- Ensure there are no overlapping reservations for that room in that timeframe\n- CRITICAL: Before calling the Insert1 tool to create a NEW reservation, you MUST collect ALL required information from the user:\n  * check_in (format: YYYY-MM-DD)\n  * check_out (format: YYYY-MM-DD)\n  * nome (first name)\n  * cognome (surname)\n  * cf (tax code - exactly 16 characters)\n  * email (valid email format)\n  * telefono (phone number - must be between 8 and 15 digits)\n  * tipo_camera (room type)\n  * data_nascita (birth date: YYYY-MM-DD)\n  * luogo_nascita (birth place)\n  * id_camera (room ID - determine this from tipo_camera using the Select1 tool)\n- Ask for missing information one field at a time in a conversational way\n- Once you have ALL fields, confirm the complete reservation details with the user\n- When user confirms, use Insert1 tool to create the reservation\n- After a successful reservation, update the disponibilita column in the camere table from TRUE to FALSE\n\nMODIFYING EXISTING RESERVATIONS:\n- AUTHENTICATION REQUIRED: Before allowing any modification, you MUST verify the user's identity by asking for:\n  * nome (first name)\n  * cognome (surname)\n  * tipo_camera (room type)\n  * check_in date\n  * check_out date\n- Query the database to verify these details match an existing reservation\n- If the details match, proceed with asking what they want to change\n- If the details do NOT match, politely inform them the information doesn't match our records and ask them to verify\n- Only after successful verification, use Update tool with the fields being changed\n\nCANCELLING RESERVATIONS:\n- AUTHENTICATION REQUIRED: Before allowing any deletion, you MUST verify the user's identity by asking for:\n  * nome (first name)\n  * cognome (surname)\n  * tipo_camera (room type)\n  * check_in date\n  * check_out date\n- Query the database to verify these details match an existing reservation\n- If the details match, confirm they want to cancel and proceed with Delete1 tool\n- If the details do NOT match, politely inform them the information doesn't match our records\n- After deletion, update the disponibilita column in the camere table from FALSE to TRUE\n\nDATA VALIDATION:\n\nPhone Number Validation:\n- Phone numbers must be between 8 and 15 digits long\n- If too short (less than 8 digits), politely say: \"The phone number seems too short. Please provide a valid phone number with at least 8 digits.\"\n- If too long (more than 15 digits), politely say: \"The phone number seems too long. Please provide a valid phone number with no more than 15 digits.\"\n- Accept numbers with or without country codes, spaces, dashes, or parentheses\n- Only count the actual digits when validating length\n\nTax Code Validation (Codice Fiscale):\n- Italian tax codes must be exactly 16 characters long\n- If the user provides a tax code with incorrect length (not 16 characters), politely ask them to send it again\n- If the length is correct but the code appears invalid based on the user's name, surname, birth date, and birth place, politely ask them to verify and resend it\n- Tax code format: 3 consonants from surname + 3 consonants from name + 2 digits year + 1 letter month + 2 digits day (add 40 for females) + 4 chars location code + 1 check digit\n- If the tax code is correct, do not mention it - simply proceed with the reservation\n- Only ask for the tax code when necessary for the reservation process\n\nEmail Validation:\n- Ensure email contains @ symbol and a domain\n- If invalid format, politely ask for a valid email address\n\nCOMMUNICATION STYLE:\n- If a request is ambiguous or incomplete, ask for polite clarifications\n- Provide a smooth, pleasant experience oriented toward customer satisfaction\n- You are the cheerful and reliable face of ITIS Hotel\n- Always maintain guest privacy and security"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [1568, 176],
      "id": "agent-node",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1248, 400],
      "id": "openai-model",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-448, 80],
      "id": "telegram-trigger",
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to CREATE A NEW RESERVATION...",
        "tableId": "prenotazioni",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "check_in", "fieldValue": "={{ $fromAI('check_in') }}" },
            { "fieldId": "check_out", "fieldValue": "={{ $fromAI('check_out') }}" },
            { "fieldId": "nome", "fieldValue": "={{ $fromAI('nome') }}" },
            { "fieldId": "cognome", "fieldValue": "={{ $fromAI('cognome') }}" },
            { "fieldId": "cf", "fieldValue": "={{ $fromAI('cf') }}" },
            { "fieldId": "email", "fieldValue": "={{ $fromAI('email') }}" },
            { "fieldId": "telefono", "fieldValue": "={{ $fromAI('telefono') }}" },
            { "fieldId": "tipo_camera", "fieldValue": "={{ $fromAI('tipo_camera') }}" },
            { "fieldId": "data_nascita", "fieldValue": "={{ $fromAI('data_nascita') }}" },
            { "fieldId": "luogo_nascita", "fieldValue": "={{ $fromAI('luogo_nascita') }}" },
            { "fieldId": "id_camera", "fieldValue": "={{ $fromAI('id_camera') }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1504, 400],
      "id": "insert-tool",
      "name": "Insert1"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getFile?file_id={{ $json.message.voice.file_id }}",
        "options": {}
      },
      "id": "get-file-info",
      "name": "Get File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2224, 176],
      "id": "telegram-send",
      "name": "Send a text message1"
    }
  ],
  "connections": {
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Telegram Trigger": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Send a text message1", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "REDACTED" }
}
